CompileFlags:
  Add:
    - --target=arm-none-eabi
    - -fgnuc-version=12.3.1
    - -isystem
    - C:/Users/Admin/.platformio/packages/toolchain-gccarmnoneeabi/arm-none-eabi/include/c++/12.3.1
    - -isystem
    - C:/Users/Admin/.platformio/packages/toolchain-gccarmnoneeabi/arm-none-eabi/include/c++/12.3.1/arm-none-eabi
    - -isystem
    - C:/Users/Admin/.platformio/packages/toolchain-gccarmnoneeabi/arm-none-eabi/include/c++/12.3.1/backward
    - -isystem
    - C:/Users/Admin/.platformio/packages/toolchain-gccarmnoneeabi/lib/gcc/arm-none-eabi/12.3.1/include
    - -isystem
    - C:/Users/Admin/.platformio/packages/toolchain-gccarmnoneeabi/lib/gcc/arm-none-eabi/12.3.1/include-fixed
    - -isystem
    - C:/Users/Admin/.platformio/packages/toolchain-gccarmnoneeabi/arm-none-eabi/include
    - -Wno-unknown-warning-option
    - -Wno-unused-command-line-argument
    - -Wno-unknown-attributes
    - -D__USES_INITFINI__
  Remove:
    - --param*
    - -nostdlib
